.App {
  max-width: 7500px;
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html{
   background-color: rgb(211, 232, 232);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(6, 69, 60);
  list-style-type: none;
}

.header{
  padding:20px;
  background-color: rgba(5, 70, 48, 0.706);
  
}

.header h1{
color:white;
}