.section-comments{
padding: 20px;
height: 400px;
margin-top:10px;
display: flex;
justify-content: center;
}

.section-post{
padding: 20px;
height: 600px;
margin-top:10px;
}

table tr td{
padding:10px 15px;
}

th{
    text-align: left;
    padding-left: 5px;
}

.ul-comment{
margin-top:10px;
display: flex;
flex-direction: column;
align-items: left;

}

.ul-comment li p{
padding:5px;
width: 100%;
}

.select-token{
    width: 200px;
    margin-top:10px;
    border: none;
    padding:5px;
    color:rgb(6, 69, 60);
}

.div-button{
    display: flex;
    justify-content: space-between;
}

.article-post{
    display: flex;
    justify-content: center;
}